
/*CSS for filtered name list*/

#contactDiv .nameList {
	width:300px;

  box-sizing: border-box;
}

#contactDiv #myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#contactDiv #myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#contactDiv #myUL li{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#contactDiv #myUL li:hover:not(.header) {
  background-color: #eee;
}

/*CSS for modal Add form*/
#contactDiv label{
  text-align:left;
 /* display:inline-block;*/
}


#contactDiv input[type=text], #contactDiv select, #contactDiv textarea {
    width: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contactDiv input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4 px;
    cursor: pointer;
}

#contactDiv #logoutButton{
    background-color: #4CAF50;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    border: none;
    border-radius: 4 px;
    cursor: pointer;
}

#contactDiv input[type=submit]:hover {
    background-color: #45a049;
}

#contactDiv .container {
	/*display: flex;*/
  justify-content: center;
  align-items: center;
	width: inherit;
   background-color: #f2f2f2;
    padding: 20px;
}
/*Form Div CSS*/
#contactDiv form > div {

	display:inline-block;
  position: relative;
}
#contactDiv form > div > label {

  position: absolute;
   padding:20px;
}

#contactDiv form{
	display: inline-block;
}

.thisList {
	display: none;
}
